{% extends 'base.html.twig' %}

<head>
{% block title %}Bienvenue sur CryptoTracker.fr{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ 'css/style.css' }}">
{% endblock %}
</head>
{% block body %}
    {% block data %}
        <li>
            {% for moneyB in bitcoin_template %}
                <p class="logo"><img src="{{ moneyB.logo|e }}"></p>
                <p class="symb">{{ moneyB.symbol|e }}</p>
                <p class="name">({{ moneyB.name|e }})</p>
            {% endfor %}
        </li>
    {% endblock %}
    {% block ethereum %}
        <li>
            {% for moneyE in ethereum_template %}
                <p class="logo"><img src="{{ moneyE.logo|e }}"></p>
                <p class="symb">{{ moneyE.symbol|e }}</p>
                <p class="name">({{ moneyE.name|e }})</p>
            {% endfor %}
        </li>
    {% endblock %}
    {% block xrp %}
          <li>
            {% for moneyX in xrp_template %}
                <p class="logo"><img src="{{ moneyX.logo|e }}"></p>
                <p class="symb">{{ moneyX.symbol|e }}</p>
                <p class="name">({{ moneyX.name|e }})</p>
            {% endfor %}
          </li>
    {% endblock %}
{% endblock %}

